.SiteStay .block-5 {
  display: flex;
  justify-content: space-between;
}

.SiteStay .section-1 {
  margin-top: 26.92px;
}

.SiteStay .block-text {
  width: 538.65px;
}

.SiteStay .block-5 .title-1 {
  padding: 16px 0;
}

.SiteStay .text-3 {
  font-size: 17.96px;
  font-weight: 500;
  line-height: 180%;
}

.SiteStay .list {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 48px;
  gap: 12px;
}

.SiteStay .list-margin {
  display: flex;
  align-items: center;
}

.SiteStay .badge-2 {
  margin-right: 16px;
  width: auto;
  height: 26px;
}
