.SitePerfect .block-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SitePerfect .block-7 .title-h2 {
  padding-top: 8px;
}

.SitePerfect .title-h2.bottom {
  padding-bottom: 16px;
}

.SitePerfect .cards-three {
  padding: 56px 0;
}

.SitePerfect .buttons {
  display: flex;
  gap: 16px;
}

.SitePerfect .green-button-2 {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #5bb5a2;
  border-radius: 6px;
  padding: 16px 24px;
  width: 165px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.SitePerfect .compare-cards-2 {
  width: 175px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
