div.SiteSend.banner-container-128 {
  padding: 128px 0;
}

div.SiteSend.background-green {
  background-color: #e8f2ee;
}

div.SiteSend.send-receive-section {
  overflow: hidden;
}

div.SiteSend .banner-content2 {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}

div.SiteSend div.block-3 {
  display: flex;
  gap: 140px;
}

div.SiteSend .first-block3 {
  margin-left: 0;
  max-width: 560px;
}

div.SiteSend .third-title {
  font-family: "DM Sans", sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -3px;
}

div.SiteSend .three-ben {
  margin: 0;
  display: flex;
  width: 193px;
  flex-direction: column;
  gap: 12px;
}

div.SiteSend .text-ben {
  font-size: 18px;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 0;
  display: flex;
  align-items: center;
}

div.SiteSend .img-ben {
  width: 26px;
  height: 26px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 16px;
}

div.SiteSend .position-img {
  position: relative;
}

div.SiteSend .transactions {
  position: absolute;
  top: -44px;
}
