.SiteBanking .block-1 {
  display: flex;
  gap: 164px;
  height: 577.72px;
}

.SiteBanking .first-block {
  margin: 16.86px 0;
}

.SiteBanking .banking-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 100px;
  line-height: 110%;
  letter-spacing: -3px;
  margin-bottom: 16px;
  padding-right: 45px;
}

.SiteBanking .block-1 .text-1 {
  padding-right: 2px;
  margin-bottom: 32px;
}

.SiteBanking .four-benefits {
  display: flex;
  flex-wrap: wrap;
  width: 489px;
}

.SiteBanking .ben {
  display: flex;
  align-items: center;
  flex: 50%;
  font-size: 18px;
  font-weight: 500;
  line-height: 180%;
  margin-bottom: 16px;
}

.SiteBanking .block-button {
  display: flex;
  margin-top: 48px;
  gap: 32px;
}

.SiteBanking .green-button {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #5bb5a2;
  border-radius: 6px;
  padding: 16px 24px;
  width: 165px;
  box-sizing: border-box;
  cursor: pointer;
}

.SiteBanking .size-9 {
  width: 399.7px;
  height: 577.72px;
}

