.SiteNeed .block-11 {
  display: flex;
}

.SiteNeed .block-12 {
  flex: 1;
}

.SiteNeed .block-12 .title-1 {
  margin-bottom: 48px;
}

.SiteNeed .position-txt-2 {
  display: flex;
}

.SiteNeed .size-img {
  height: 50px; 
  margin: 0 24px 0 0;
}

.SiteNeed .size-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SiteNeed .compare-cards-3 {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #5bb5a2;
  display: flex;
  cursor: pointer;
  margin-top: 48px;
}

.SiteNeed .distance-4 {
  display: flex;
  justify-content: space-between;
}

.SiteNeed .border-bottom {
  border-bottom: 1px solid #e8e8e8;
}

.SiteNeed .add-img {
  height: 24px;
  width: auto;
}

.SiteNeed .padding {
  padding-top: 32px;
}

.SiteNeed .info-3 {
  padding-bottom: 16px;
}

.SiteNeed .text-5 {
  color: #1a191e;
  opacity: 50%;
  padding-bottom: 32px;
}
