.SiteOrganize .block-4 {
  display: flex;
  flex: 1;
  margin-bottom: 64px;
}

.SiteOrganize .block-one {
  width: 600px;
}

.SiteOrganize .block-4 .title-1 {
  padding: 16px 0;
}

.SiteOrganize .block-two {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
}

.SiteOrganize .items {
  gap: 33px;
  display: flex;
  flex-direction: row;
}

.SiteOrganize .items .info {
  margin-top: 16px;
  margin-bottom: 4px;
}
