.SiteOneApp .block-2 {
  display: flex;
  gap: 124px;
}

.SiteOneApp .first-block-3 {
  flex: 0 0 600px;
}

.SiteOneApp .app-title {
  font-family: "DM Sans", sans-serif;
  font-size: 80px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -3px;
  padding-right: 134px;
}

.SiteOneApp .six-features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  gap: 32px;
}

.SiteOneApp .app-boxes {
  flex: 284px;
  border: solid #e8e8e8;
  border-radius: 16px;
  padding: 32px 32px;
  box-sizing: border-box;
}

.SiteOneApp .images {
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}

.SiteOneApp .app-titles {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  padding-right: 104px;
}

.SiteOneApp .block-2 .text-features {
  margin-top: 8px;
  letter-spacing: -1px;
}

.SiteOneApp .app-image {
  position: relative;
  flex: 1;
}

.SiteOneApp .card-image {
  position: absolute;
  left: 35px;
  top: 100px;
}
