.SiteOneApp2.banner-container {
  background-color: #ffffff;
  overflow: hidden;
}

.SiteOneApp2.banner-container .banner-content {
  background-color: #5bb5a2;
  border-radius: 20px;
  padding: 96px 0 96px 76px;
  display: flex;
  gap: 108px;
  box-sizing: border-box;
}

.SiteOneApp2 .block-10 {
  width: 524px;
}

.SiteOneApp2 .app-text-2 {
  font-family: "DM Sans", sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -3px;
  padding-right: 179px;
  color: #ffffff;
}

.SiteOneApp2 .text-4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 0;
  margin: 16px 11px 32px 0;
  color: #ffffff;
}

.SiteOneApp2 .block-10 .four-benefits {
  width: 464px;
  color: #ffffff;
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
}

.SiteOneApp2 .block-10 .text-features {
  display: flex;
  align-items: center;
  flex: 50%;
}

.SiteOneApp2 .block-10 .text-features:nth-child(1) {
  margin-bottom: 16px;
}

.SiteOneApp2 .block-10 .text-features:nth-child(2) {
  margin-bottom: 16px;
}

.SiteOneApp2 .app {
  position: absolute;
  top: 19px;
}
