.SiteBlog .block-13 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.SiteBlog .images-2 {
  display: flex;
  gap: 33px;
}

.SiteBlog .distance-5 {
  margin-bottom: 24px;
}

.SiteBlog .images-2 .text-features {
  margin: 8px 0 24px 0;
}

.SiteBlog .block-14 {
  display: flex;
  gap: 8px;
}
